.social-media{
    display: block;
}
.social-link{
    display: inline-block;
    margin-right: 20px; 
    margin-left: 20px;
    text-decoration: none;
} 
.author {
font:  bold;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}